﻿@model janexamweb.Data.Expense

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Expense</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ExpenseJob)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ExpenseJob)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ExpenseDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ExpenseDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ExpenseAmount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ExpenseAmount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ExpenseComment)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ExpenseComment)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ExpenseId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
