﻿@model janexamweb.Models.ExpenseViewModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Expense</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ExpenseId" />
            <div class="form-group">
                <label asp-for="ExpenseJob" class="control-label"></label>
                <select class="form-control" asp-for="ExpenseJob" asp-items="@(new SelectList(Model.JobList))">
                    <option disabled selected value="">Select Job</option>
                </select>
                <span asp-validation-for="ExpenseJob" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExpenseDate" class="control-label"></label>
                <input asp-for="ExpenseDate" class="form-control" />
                <span asp-validation-for="ExpenseDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExpenseAmount" class="control-label"></label>
                <input asp-for="ExpenseAmount" class="form-control" />
                <span asp-validation-for="ExpenseAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExpenseComment" class="control-label"></label>
                <input asp-for="ExpenseComment" class="form-control" />
                <span asp-validation-for="ExpenseComment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
