﻿@model IEnumerable<janexamweb.Data.Expense>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Report New</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ExpenseJob)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExpenseDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExpenseAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExpenseComment)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ExpenseJob.JobId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExpenseDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExpenseAmount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExpenseComment)
        </td>
        <td>
            <a asp-action="Edit" asp-route-id="@item.ExpenseId">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.ExpenseId">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.ExpenseId">Delete</a>
        </td>
    </tr>
}
    </tbody>
</table>
