﻿@{
    ViewData["Title"] = "Home Page";
}
@section JavaScript
    {
    <script type="text/javascript">
        var i = 0;
        var txt = 'Log in to see your jobs!'; /* The text */
        var speed = 80; /* The speed/duration of the effect in milliseconds */

        function typeWriter() {
            if (i < txt.length) {
                document.getElementById("animation").innerHTML += txt.charAt(i);
                i++;
                setTimeout(typeWriter, speed);
            }
        }

        window.onload = typeWriter;
    </script>
}
<Div>
    <h1>Welcome! </h1>
    <h1 id="animation"></h1>

</Div>
