﻿@using System.ComponentModel.DataAnnotations.Schema
@using janexamweb.Data
@using Microsoft.AspNetCore.Razor.Language.Extensions
@model IEnumerable<janexamweb.Data.Job>

@{
    ViewData["Title"] = "Jobs";
}
<h2>@ViewData["Title"]</h2>

<p>You can see your jobs here.</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.JobId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JobDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JobDuration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JobAddress)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in (List<Job>)ViewData["JobList"])
        {
        <tr>
            <td>
                @item.JobId
            </td>
            <td>
                @item.JobDate
            </td>
            <td>
                @item.JobDuration
            </td>
            <td>
                @item.JobAddress
            </td>
        </tr>
        }
    </tbody>
</table>
